body {
    margin: 0;
    padding: 0;
    background-color: #BEBEBE;
}

.login {
    width: 450px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
    padding: 10px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 13px;
}

.judul {
    color: #FF7F00;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

.input-box {
    width: 300px;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid #6C6A6A;
    margin-top: 10px;
    font-family: Poppins;
    font-weight: 300;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.login-btn {
    margin-top: 15px;
    padding: 20px;
    width: 190px;
    border-radius: 13px;
    border: none;
    background: #F93;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.link {
    color: #6C6A6A;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.daftar {
    color: #FF7F00;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}